:root {
  --bg-body: #000000;
  --bg-primary: rgb(46, 46, 46);
  --border-primary: rgb(46, 46, 46);
  --text-dark: rgb(255, 255, 255);
  --bg-input: rgb(226, 226, 226);
  --hover-color: rgb(214, 93, 93);
  --link-color: white;
  --input-color: black;
  --width: 80%;
}

body {
    font-family: ibm-plex-mono, monospace;
    background-color: var(--bg-body);
    color: var(--text-dark);
    font-size: 12;
    line-height: 1.5;
}



/* Header */
.header {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  border: var(--border-primary) 5px solid;
  width: var(--width);
}

.header h1 {
  text-align: center;
}

.header p {
  padding-left: 20px;
}



/* Autoria */
.autoria{
  text-align: left;
  padding: 10px;
}

.autoria h2 {
  text-align: left;
}

.autoria ul{
  list-style: none;
  text-align: left;
  padding: 0;
}

.autoria ul a {
  text-decoration: none;
  color: var(--link-color)
}

.autoria ul a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}



/* Content */
.content {
  box-sizing: border-box;
  width: var(--width);
  margin-top: 10px;
  border: 5px solid var(--border-primary);
  background-color: var(--bg-body);
  height: 1000px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
  box-sizing: border-box;
  word-wrap: break-word;
  min-width: 0;
  height: 990px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
  flex: 7;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 3;
}



/* Aside */
/* Form */
.main-form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
  margin: 0;
}

.form-group {
  padding-bottom: 10px;
}


/* Links */
.aside {
  margin-top: 5px;
  height: 725px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
}

.aside ul {
  text-align: left;
  list-style-position: inside;
  padding: 0;
}

.aside ul li a {
  color: var(--link-color);
  text-decoration: none;
}

.aside ul li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}


/* Form */
.main-form .form-group label {
  display: block;
  text-align: left;
}

.main-form .form-group input {
  padding: 5px;
  color: var(--input-color);
  background-color: var(--bg-input);
  border: none;
  width: 100%;
}

.main-form .form-group select {
  padding: 5px;
  color: var(--input-color);
  background-color: var(--bg-input);
  text-align: left;
}

.main-form button {
  padding: 10px;
  color: var(--input-color);
  background-color: var(--bg-input);
  border: none;
}

#imagem1 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projeto_ficheiro {
  height: auto;
  display: block;
  margin: 10px auto;
  max-width: 90%;
}

.footer {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 20px;
  border: var(--border-primary) 5px solid;
  width: var(--width);
}