:root {
  --bg-body: #000000;
  --bg-primary: rgb(46, 46, 46);
  --border-primary: rgb(46, 46, 46);
  --text-dark: rgb(255, 255, 255);
  --bg-input: rgb(167, 157, 157);
  --hover-color: rgb(214, 93, 93);
  --link-color: white;
  --width: 80%;
}

body {
    font-family: ibm-plex-mono, monospace;
    background-color: var(--bg-body);
    color: var(--text-dark);
    font-size: 15px;
}

.container {
  background-color: var(--bg-primary);
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  border: var(--border-primary) 5px solid;
  width: var(--width);
}

.container h1 {
  text-align: center;
}

.container p {
  padding-left: 20px;
}

.autoria{
  text-align: right;
  padding: 10px;
}

.autoria h2 {
  text-align: right;
}

.autoria ul{
  list-style: none;
  text-align: right;
  padding: 0;
}

.autoria ul a {
  text-decoration: none;
  color: var(--link-color)
}

.autoria ul a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.content {
  box-sizing: border-box;
  width: var(--width);
  margin-top: 10px;
  border: 5px solid var(--border-primary);
  background-color: var(--bg-body);
  height: 1000px;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
  width: 65%;
  box-sizing: border-box;
  word-wrap: break-word;
  min-width: 0;
  height: 990px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}

.box {
  box-sizing: border-box;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.main-form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
  margin: 0;
}

.form-group {
  padding-bottom: 10px;
}

.aside {
  margin-top: 5px;
  height: 725px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--bg-primary);
  border: var(--border-primary) 5px solid;
}

.aside ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.aside ul li a {
  color: var(--link-color);
  text-decoration: none;
}

.aside ul li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.main-form .form-group label {
  display: block;
  text-align: left;
}

.main-form .form-group input {
  padding: 5px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
  border: none;
  width: 100%;
}

.main-form .form-group select {
  padding: 5px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
  text-align: left;
}

.main-form button {
  padding: 10px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
  border: none;
}

#imagem1 {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}