body {
    font-family: ibm-plex-mono, monospace;
    background-color: #df2828;
    font-size: 20px;
}

.container {
  background-color: rgb(160, 46, 46);
  width: 75%;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding: 20px;
  border:rgb(184, 53, 53) 5px solid;
}

.main-aside h2 {
  text-align: right;
}

.main-aside ul{
  list-style: none;
  text-align: right;
  padding: 0;
}

.main-aside ul a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.main-aside ul a:hover {
  color: rgb(43, 43, 43);
  text-decoration: underline;
}

.main-form {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(160, 46, 46);
  border:rgb(184, 53, 53) 5px solid;
  width: fit-content;
}

.form-group {
  padding-bottom: 10px;
}

.main-form .form-group label {
  display: block;
}

.main-form .form-group input {
  padding: 5px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
}

.main-form .form-group select {
  padding: 5px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
}

.main-form button {
  padding: 10px;
  color: rgb(43, 43, 43);
  background-color: rgb(167, 157, 157);
  border: none;
}